<!DOCTYPE html>
<html>

<head>
  {{ template "partials/head" . }}
  <link href="/static/adminui/css/admin.css" rel="stylesheet" />
</head>

<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
              <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input" />
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-admin" lay-submit="" lay-filter="LAY-user-back-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="layui-card-body">
        <div style="padding-bottom: 10px">
          <button class="layui-btn layuiadmin-btn-admin" data-type="add">
            添加
          </button>
        </div>
        <table class="layui-hide" id="menu-tree-table"></table>
      </div>
    </div>
  </div>

  <!-- 添加弹窗 -->
  <div id="add" style="display: none">
    <form class="layui-form" lay-filter="menu-form" id="layuiadmin-form-admin" style="padding: 20px 30px 0 0">
      <div class="layui-form-item">
        <label class="layui-form-label">菜单类型</label>
        <div class="layui-input-block">
          <input type="radio" name="type" lay-filter="type" value="0" title="目录" checked />
          <input type="radio" name="type" lay-filter="type" value="1" title="菜单" />
          <input type="radio" name="type" lay-filter="type" value="2" title="按钮" />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">上级菜单</label>
        <div class="layui-input-block">
          <input type="text" name="parent_id" lay-verify="required" placeholder="请选择上级菜单" autocomplete="off"
            class="layui-input" id="parent_id" readonly />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">菜单标题</label>
        <div class="layui-input-block">
          <input type="text" name="title" lay-verify="required" placeholder="请输入菜单标题" autocomplete="off"
            class="layui-input" />
        </div>
      </div>
      <div class="layui-form-item" style="display: none;" id="menu-path-item">
        <label class="layui-form-label">菜单路径</label>
        <div class="layui-input-block">
          <input type="text" name="path" placeholder="请输入菜单路径" autocomplete="off" class="layui-input" />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">菜单图标</label>
        <div class="layui-input-block">
          <input type="text" name="icon" lay-verify="required" placeholder="请选择菜单图标" autocomplete="off"
            class="layui-input" id="menu-icon-dropdown" readonly />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">显示顺序</label>
        <div class="layui-input-block">
          <input type="number" name="sort" lay-verify="required" placeholder="显示顺序" autocomplete="off" value="99"
            class="layui-input" />
        </div>
      </div>
      <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="add-menu-submit" id="add-menu-submit" value="确认" />
        <button type="reset" class="layui-btn layui-btn-primary" id="add-menu-reset">重置</button>
      </div>
    </form>
  </div>
</body>

{{ template "partials/scripts" . }}

<script>
  layui.config({
    base: "../../../static/",
  }).use(["index", "menu"], function () {

  });
</script>

</html>
