<form method="POST" action="/register">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>

    <div>
        <label for="pasword">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>

    <div>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
    </div>

    <div>
        <button type="submit">Sign Up</button>
    </div>

    <div>
        {{ .error }}
    </div>
</form>