<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ .title }}</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/layui/css/layui.css" rel="stylesheet">
  <link href="/static/adminui/css/admin.css" rel="stylesheet">
  <!-- custom head -->
  {{ block "head" . }}{{ end }}
</head>

<body class="layui-layout-body" id="LAY_home_iframe">
  <div id="LAY_app" style="visibility: hidden">
    <div class="layui-layout layui-layout-admin">
      {{ template "partials/header" . }}
      {{ template "partials/sidebar" . }}
      {{ template "partials/tabs" . }}


      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="home" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>
    </div>

    <!-- 辅助元素，一般用于移动设备下遮罩 -->
    <div class="layadmin-body-shade" layadmin-event="shade"></div>
  </div>

  <script src="/static/layui/layui.js"></script>
  <script>
    layui.config({
      base: '../../static/' // 静态资源所在路径
    }).use(['index']);
  </script>

  <!-- custom js -->
  {{ block "script" . }}{{ end }}
</body>

</html>
