<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "partials/head" . }}
  <link href="/static/adminui/css/login.css" rel="stylesheet">
</head>

<body>

  <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main">
      <div class="layadmin-user-login-box layadmin-user-login-header">
        <h2>用户注册</h2>
        <p> </p>
      </div>
      <div class="layui-form layadmin-user-login-box layadmin-user-login-body">
        <div class="layui-form-item">
          <div class="layui-input-wrap">
            <div class="layui-input-prefix">
              <i class="layui-icon layui-icon-username"></i>
            </div>
            <input type="text" name="username" value="" lay-verify="required" placeholder="用户名" autocomplete="off"
              class="layui-input" id="reg-username">
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-wrap">
            <div class="layui-input-prefix">
              <i class="layui-icon layui-icon-password"></i>
            </div>
            <input type="password" name="password" value="" lay-verify="required" placeholder="密码" autocomplete="off"
              class="layui-input" id="reg-password" lay-affix="eye">
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-wrap">
            <div class="layui-input-prefix">
              <i class="layui-icon layui-icon-password"></i>
            </div>
            <input type="password" name="confirmPassword" value="" lay-verify="required|confirmPassword"
              placeholder="确认密码" autocomplete="off" class="layui-input" lay-affix="eye">
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-wrap">
            <div class="layui-input-prefix">
              <i class="layui-icon layui-icon-username"></i>
            </div>
            <input type="text" name="nickname" value="" lay-verify="required" placeholder="昵称" autocomplete="off"
              class="layui-input" lay-affix="clear">
          </div>
        </div>
        <div class="layui-form-item">
          <input type="checkbox" name="agreement" lay-verify="required" lay-skin="primary" title="同意">
          <a href="#terms" target="_blank" style="position: relative; top: 6px; left: -15px;">
            <ins>用户协议</ins>
          </a>
        </div>
        <div class="layui-form-item">
          <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="LAY-user-reg-submit">注 册</button>
        </div>
      </div>
    </div>

    <div class="layui-trans layadmin-user-login-footer">
      <p>© All Rights Reserved </p>
    </div>
  </div>

  <script src="/static/layui/layui.js"></script>
  <script>

    layui.config({
      base: '../static/'
    }).use(['index', 'user'], function () {
      var $ = layui.$,
        setter = layui.setter,
        admin = layui.admin,
        form = layui.form,
        router = layui.router();

      form.render();

      //提交
      form.on('submit(LAY-user-reg-submit)', function (obj) {
        var field = obj.field;

        //确认密码
        if (field.password !== field.confirmPassword) {
          return layer.msg('两次密码输入不一致');
        }

        //是否同意用户协议
        if (!field.agreement) {
          return layer.msg('你必须同意用户协议才能注册');
        }

        //请求接口
        admin.req({
          url: '/register',
          method: 'post',
          data: field,
          done: function (res) {
            layer.msg('注册成功', {
              offset: '15px',
              icon: 1,
              time: 1000
            }, function () {
              location.href = '/login'; //跳转到登入页
            });
          }
        });

        return false;
      });
    });
  </script>

</body>

</html>
